* text=auto
*.cs text eol=lf diff=csharp
*.unity text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.meta text eol=lf
*.png binary
*.wav binary
*.ogg binary
*.ttf binary
